artifact-root: "artifact"
seed: 2345
schema-path: "schemas"
debug: true

data:
  sources:
    competition:
      source: kaggle
      type: competition
      name: jigsaw-agile-community-rules

    syn:
      source: kaggle
      type: dataset
      name: morizin/jigsaw-syn

  validation:
    statistics: true
    data-drift: 
      n_splits: 20
      n_iterations: 100
      dimension: 500
    report-name: "report"
  
  splitter: 
    type: mlskfold # groupkfold, smlkf, stratifiedkfold
    n_splits: 5
    labels: 
      - rule
      - rule_violation

  zero-shot: true
  triplet: 
    anchor-column: rule
    sample-column: body
    n_negatives: 5
    n_samples: 5
    n_resample: 5
    reversed: true

  pairwise: false
  cache-intermediate: false


augmentations:
  - [url-to-semantics, 1.0]

model-training:
  outdir: "models/"
  fold: -1
  engine: "classifier"
  few-shot: false

classifier:
  model-name: "/kaggle/input/notebook2cf3dd53b0/artifacts/models/checkpoint-108"
  nepochs: 1
  learning-rate: !!float 2e-4
  train-batch-size: 4
  gradient-accumulation-steps: 1
  weight-decay: 0.01
  warmup-ratio: 0.03
  tokenizer:
    max-length: 2048
    truncation: true
    padding: 'longest'
