artifact-root: "artifact"
seed: 2345
schema-path: "schemas"
debug: true

data:
  sources:
    competition:
      source: kaggle
      type: competition
      uri: jigsaw-agile-community-rules

  validation:
    statistics: false
    data-drift: 
      n_splits: 20
      n_iterations: 100
      dimension: 500
    report-name: "report"


augmentations:
  fraction: 1.0
  n-resamples: 1
  include-original: false
  weight: 1.0
  augments: 
    - [url_to_semantics, 1.0]

model-training:
  outdir: "models/"
  fold: -1
  engine: "classifier"
  few-shot: false

classifier:
  model-name: "/kaggle/input/notebook2cf3dd53b0/artifacts/models/checkpoint-108"
  nepochs: 1
  learning-rate: !!float 2e-4
  train-batch-size: 4
  gradient-accumulation-steps: 1
  weight-decay: 0.01
  warmup-ratio: 0.03
  tokenizer:
    max-length: 2048
    truncation: true
    padding: 'longest'
