name: Kaggle Wheel Dataset Workflow

on:
  workflow_dispatch: 

jobs:     
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    env:
        KAGGLE_USERNAME: ${{ secrets.KAGGLE_USERNAME }}
        KAGGLE_KEY: ${{ secrets.KAGGLE_KEY }}

    steps:
    - name: Checking out Code
      uses: actions/checkout@v4

    - name: Setup up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip3 install uv
        pip3 install kaggle
        rm -f uv.lock

    - name: Building the code and publish it to Kaggle ${{ matrix.python-version }}
      run: |
        ./scripts/publish_kaggle.sh <<< $(git log -1 --pretty=%s)

  download-wheels:
    runs-on: ubuntu-latest
    needs: build
    env:
      KAGGLE_USERNAME: ${{ secrets.KAGGLE_USERNAME }}
      KAGGLE_KEY: ${{ secrets.KAGGLE_KEY }}
    strategy:
      matrix:
        python-version: ["3.11"]

    steps:

    - name: Checking out Code
      uses: actions/checkout@v4

    - name: Setup up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip3 install uv
        pip3 install kaggle

    - name: Export uv project to requirements.txt
      run: uv export --format requirements.txt -o requirements.txt --no-hashes

    - name: Initialize Kaggle Datasets
      run: | 
        mkdir ./wheels
        cp requirements.txt ./wheels/
        kaggle datasets init --path ./wheels
        sed -i 's/INSERT_[^"]*/jigsaw-wheel/g' ./wheels/dataset-metadata.json

    - name: Export Wheels into the folder
      run: pip3 wheel -r requirements.txt -w ./wheels

    - name: Push to Kaggle dataset
      run: |
        version=$(uv version --short)
        if kaggle datasets status ${{ secrets.KAGGLE_USERNAME }}/jigsaw-wheel; then
          kaggle datasets version -m "Version $version : $(git log -1 --pretty=%s)" --path ./wheels
        else
          kaggle datasets create --path ./wheels
        fi
      

    - name: Check status of the dataset
      run: echo "$(kaggle datasets status morizin/jigsaw-wheel)"
        # while [[ '$(kaggle datasets status morizin/jigsaw-wheel | egrep -o "[A-Z]{2,}")' != "RUNNING" ]]; do
        #     pass
        # done