name: Kaggle Submission Workflow

on:
  push: 
    branches: [ "main" ]
    

jobs:     
  build-and-upload:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
    - name: Checking out Code
      uses: actions/checkout@v4

    - name: Setup up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip3 install uv
        pip3 install kaggle

    - name: Building the code and publish it to Kaggle ${{ matrix.python-version }}
      run: ./scripts/publish_kaggle.sh <<< $(git log -1 --pretty=%s)
      env:
        KAGGLE_USERNAME: ${{ secrets.KAGGLE_USERNAME }}
        KAGGLE_KEY: ${{ secrets.KAGGLE_KEY }}