name: Kaggle Submission Workflow

on:
  push: 
    branches: [ "main" ]
    

jobs:
  linting:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
    - name: Analysing the code with pylint
      run: |
        pylint $(git ls-files '*.py')

  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checking out Code
      uses: actions/checkout@v4
    - name: Building the code and publish it to Kaggle
      run: ./publish_kaggle.sh <<< ${{ github.event.head_commit.message }}